$purple: #9356DC;
$pink: #FF79DA;
$green: #99E2D0;
$gray: #eaeaea;
$bgdarkgrey: #353535;
$lightGray: #f6f6f6;
$lightPurple:rgba(147, 86, 220, 0.12);
$button: linear-gradient(165deg,$pink, $purple);



