$purple: #9356dc;
$pink: #ff79da;
$green: #99e2d0;
$gray: #eaeaea;
$bgdarkgrey: #353535;
$lightGray: #f6f6f6;
$lightPurple: rgba(147, 86, 220, 0.12);
$button: linear-gradient(165deg, $pink, $purple);
