@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@use "../Utils" as *;
@use "../Utils" as *;
header {
  padding: 10px 0;
  -webkit-box-shadow: 0 0 5px #686868;
          box-shadow: 0 0 5px #686868;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header h1 {
  font-family: 'Shrikhand', cursive;
  text-align: center;
  font-size: 2em;
  color: black;
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

* {
  margin-top: 0px;
  font-family: 'Roboto', sans-serif;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.wrap {
  width: 800px;
  margin: auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html {
  line-height: 1.15;
}

body {
  margin: 0px;
}

main {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
}

strong {
  font-weight: bolder;
}

img {
  border-style: none;
}

ol {
  list-style: none;
  padding: 0;
}

.menu nav h2 {
  font-size: 1.6em;
  font-weight: bold;
  padding: 2em 0em 0.5em 0.5em;
}

.menu nav ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin: 1em;
  height: 4em;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.menu nav li .div-number1 {
  background-color: #9356DC;
  border-radius: 50%;
  width: 1.4em;
  height: 1.4em;
  padding: 0.2em 0em 0em 0.4em;
  color: white;
  margin-right: -0.5em;
  z-index: 2;
}

.menu nav li .div-number2 {
  background-color: #9356DC;
  border-radius: 50%;
  width: 1.4em;
  height: 1.4em;
  padding: 0.2em 0em 0em 0.4em;
  color: white;
  margin-right: -0.5em;
  z-index: 2;
}

.menu nav li .div-number3 {
  background-color: #9356DC;
  border-radius: 50%;
  width: 1.4em;
  height: 1.4em;
  padding: 0.2em 0em 0em 0.4em;
  color: white;
  margin-right: -0.5em;
  z-index: 2;
}

.menu nav li .div-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px #d1d1d1;
          box-shadow: 0px 0px 10px #d1d1d1;
}

.menu nav li .div-text:hover > i {
  color: #9356DC;
}

.menu nav li .div-text i {
  margin-left: 1.5em;
  color: #353535;
}

.menu nav li .div-text p {
  margin-left: 1em;
}

.menu nav li .div-text:hover {
  background-color: rgba(147, 86, 220, 0.12);
}

@media (min-width: 768px) {
  main .menu nav ol {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

/*
@media (min-width: 1025px) {
    main {

    }
}

@media (min-width: 1400px) {
    main {

    }
}
*/
@use "../Utils" as *;
footer {
  background-color: #353535;
}

footer .logoFooter {
  display: block;
  font-size: 1.2em;
  color: white;
  padding-top: 1em;
  margin: 0 0 1em 1em;
  font-family: 'Shrikhand', cursive;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

footer ul li {
  padding: 0 0 0.5em 1em;
}

footer ul li a {
  color: white;
}

* {
  margin-top: 0px;
  font-family: 'Roboto', sans-serif;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.wrap {
  width: 800px;
  margin: auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html {
  line-height: 1.15;
}

body {
  margin: 0px;
}

main {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
}

strong {
  font-weight: bolder;
}

img {
  border-style: none;
}

ol {
  list-style: none;
  padding: 0;
}

* {
  margin-top: 0px;
  font-family: 'Roboto', sans-serif;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.wrap {
  width: 800px;
  margin: auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html {
  line-height: 1.15;
}

body {
  margin: 0px;
}

main {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
}

strong {
  font-weight: bolder;
}

img {
  border-style: none;
}

ol {
  list-style: none;
  padding: 0;
}

/*loader*/
.dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.dual-ring::after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #9356DC transparent #FF79DA transparent;
  -webkit-animation: lds-dual-ring 1.2s linear infinite;
          animation: lds-dual-ring 1.2s linear infinite;
}

@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  80% {
    -webkit-transform: rotate(160deg);
            transform: rotate(160deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  80% {
    -webkit-transform: rotate(160deg);
            transform: rotate(160deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* section explore */
.explore {
  background-color: #f6f6f6;
  padding: 0 0 2.5em;
}

.explore .mapssearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eaeaea;
  padding-right: 1rem;
}

.explore .mapssearch input {
  width: 140px;
  text-align: center;
  border: 1px transparent;
  outline: none;
  padding: 0.9rem 0rem;
  background: #eaeaea;
  font-size: 1rem;
  font-weight: bold;
}

.explore .mapssearch input::-webkit-input-placeholder {
  color: #353535;
}

.explore .mapssearch input:-ms-input-placeholder {
  color: #353535;
}

.explore .mapssearch input::-ms-input-placeholder {
  color: #353535;
}

.explore .mapssearch input::placeholder {
  color: #353535;
}

.explore h2 {
  font-size: 1.6em;
  font-weight: bold;
  padding: 2em 0em 0.5em 0.5em;
  width: 70%;
  text-align: center;
  margin: auto;
}

.explore p {
  width: 85%;
  text-align: center;
  margin: auto;
  margin-top: 1em;
}

.explore div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.explore div button {
  margin-top: 1.5em;
  padding: 0 1em;
  font-size: 1em;
  height: 3.5em;
  border: transparent;
  border-radius: 50px;
  color: white;
  background: linear-gradient(165deg, #FF79DA, #9356DC);
  -webkit-box-shadow: 0px 0px 6px #a3a3a3;
          box-shadow: 0px 0px 6px #a3a3a3;
}

.explore div button:hover {
  cursor: pointer;
  opacity: 85%;
  -webkit-box-shadow: 1px 1px 6px black;
          box-shadow: 1px 1px 6px black;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

/* fin section explore */
/*section restaurants*/
.restaurants {
  background-color: #f6f6f6;
  margin-top: 2em;
}

.restaurants h2 {
  font-size: 1.6em;
  font-weight: bold;
  padding: 2em 0em 0.5em 0.5em;
  margin-bottom: 1em;
}

.restaurants div {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurants div a {
  background-color: white;
  width: 90%;
  margin-bottom: 2em;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 10px #d1d1d1;
          box-shadow: 0px 0px 10px #d1d1d1;
}

.restaurants div a article {
  width: 100%;
  position: relative;
}

.restaurants div a article .boxImg {
  height: 12em;
  position: relative;
}

.restaurants div a article .boxImg img {
  height: 100%;
  width: 100%;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants div a article .boxImg div {
  position: absolute;
  top: 13px;
  right: 13px;
  background-color: #99E2D0;
  padding: 0.2em 0.5em;
  color: #1b6150;
}

.restaurants div a article h3 {
  font-weight: bold;
  color: black;
  margin: 1em 0 0 0.7em;
}

.restaurants div a article p {
  color: black;
  margin: 0.5em 0 1em 0.7em;
}

.restaurants div a article .emptyHeart {
  position: absolute;
  bottom: 0.5em;
  right: 1em;
  font-size: 1.5em;
  color: black;
}

.restaurants div a article .fullHeart {
  position: absolute;
  bottom: 0.5em;
  right: 1em;
  font-size: 1.5em;
  opacity: 0;
  color: transparent;
}

.restaurants div a article .fullHeart:hover {
  background: linear-gradient(165deg, #FF79DA, #9356DC);
  opacity: 1;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  background-clip: text;
}

@media (min-width: 1025px) {
  .restaurants div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .restaurants div a {
    width: 48%;
  }
}

/*fin section restaurants */
/*section menu */
body {
  font-family: "Roboto", sans-serif;
  /* Loader animation */
  /* circle animation */
  /* loader visibility animation */
}

body .loadercontainer {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: white;
  z-index: 3;
  -webkit-animation: loaderload 0.5s;
          animation: loaderload 0.5s;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  /* Loader position */
}

body .loadercontainer .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: white;
  /* circle */
  /* big circle */
  /* medium circle */
  /* small circle */
  /* dot circle */
}

body .loadercontainer .loader .face {
  position: absolute;
  border: 3px solid white;
}

body .loadercontainer .loader .face1 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  border-radius: 50%;
  border-top: 3px solid #9356DC;
  border-left: 3px solid #9356DC;
  border-right: 3px solid #9356DC;
  -webkit-animation: animate 2s linear infinite;
          animation: animate 2s linear infinite;
}

body .loadercontainer .loader .face1 .circle {
  -webkit-transform: rotate(-315deg);
          transform: rotate(-315deg);
}

body .loadercontainer .loader .face1 .circle:before {
  background: #9356DC;
}

body .loadercontainer .loader .face2 {
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  background: white;
  border-radius: 50%;
  border-right: 3px solid #FF79DA;
  border-bottom: 3px solid #FF79DA;
  animation: animate 2s linear reverse infinite;
}

body .loadercontainer .loader .face2 .circle {
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
}

body .loadercontainer .loader .face2 .circle:before {
  background: #FF79DA;
}

body .loadercontainer .loader .face3 {
  top: 60px;
  left: 60px;
  right: 60px;
  bottom: 60px;
  background: white;
  border-radius: 50%;
  border-left: 3px solid #99E2D0;
  border-top: 3px solid #99E2D0;
  -webkit-animation: animate 2s linear infinite;
          animation: animate 2s linear infinite;
}

body .loadercontainer .loader .face3 .circle {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

body .loadercontainer .loader .face3 .circle:before {
  background: #99E2D0;
}

body .loadercontainer .loader .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 2px;
  -webkit-transform-origin: left;
          transform-origin: left;
}

body .loadercontainer .loader .circle:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: -4px;
  right: -4px;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loaderload {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes loaderload {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* loader intégration animation */
#bodyindex {
  -webkit-animation: bodyhidden 0.5s;
          animation: bodyhidden 0.5s;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

/* loader and scroll hide animation */
@-webkit-keyframes bodyhidden {
  0% {
    visibility: hidden;
    overflow-y: hidden;
  }
  100% {
    visibility: visible;
    overflow-y: visible;
  }
}
@keyframes bodyhidden {
  0% {
    visibility: hidden;
    overflow-y: hidden;
  }
  100% {
    visibility: visible;
    overflow-y: visible;
  }
}
/*# sourceMappingURL=style.css.map */