@import "../Utils/colors";
@import "../Utils/mixins";
@import "../Utils/_normalizer.scss";
.menu {
  nav {
    h2 {
      @include h2title;
    }
    ol {
      display: flex;
      flex-direction: column;
    }

    li {
      display: flex;
      margin: auto;
      margin: 1em;
      height: 4em;
      justify-content: left;
      align-items: center;
      width: 90%;

      .div-number1 {
        @include number;
      }
      .div-number2 {
        @include number;
      }
      .div-number3 {
        @include number;
      }
      .div-text {
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        background-color: $lightGray;
        border-radius: 20px;
        &:hover > i {
          color: $purple;
        }
        i {
          margin-left: 1.5em;
          color: $bgdarkgrey;
        }
        p {
          margin-left: 1em;
        }
        @include box-shadow;
        &:hover {
          background-color: $lightPurple;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  main {
    .menu nav ol {
      flex-direction: row;
    }
  }
}
